<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        Shop
        {% endblock %}
    </title>
</head>
<body>
<div>
    <p>This is a beautiful header</p>
    <hr>
</div>
<div>
    {% block content %}
    Empty page
    {% endblock %}
</div>
<div>
    <hr>
    <p>All rights resurved &copy;</p>
</div>
</body>
</html>